body{margin:0;padding:0;font-family: "Î¢ÈíÑÅºÚ";font-size: 14px;background-color: #c0c0c0;}
.container{width:1120px;margin:0 auto;}


#loginpart{padding:100px;margin:100px auto;width:500px;height:400px;}