<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

hello, <div th:text='${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}'></div>

<form th:action="@{/modify}" method="post">
    <label>Old Password
        <input type="password" name="oldPassword" value="" />
        <span th:text="${error}"></span>
    </label>
    <br>
    <label>New Password
        <input type="password" name="newPassword" value="" /><!--/*@thymesVar id="length_error" type="java.lang.String"*/-->
        <span th:text="${length_error}"></span>
    </label>
    <input type="submit" name="change" value="修改密码" />
</form>
<span th:text="${success}"></span>
<a href="/logout">登出</a>
</html>
